.button {
  padding: 10px 50px;

  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-brown);
  display: inline-block;

  color: var(--color-light-yellow);
  font-size: 1rem;
}

.button--secondary {
  color: var(--color-brown);
  background-color: var(--color-light-yellow);
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button--no-gutter {
  padding: 10px;
}
