.character-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-card {
  background-color: var(--color-yellow);
  color: white;
  font-size: 20px;
  display: flex;
  padding: 35px;
  border-radius: 40px;
  max-height: 450px;
  max-width: 1200px;
}
.character-content {
  display: flex;
}
.character-content > img {
  height: 400px;
  margin-right: 50px;
  border-radius: 40px;
}
.character-info {
  display: flex;
  flex-direction: column;
}
.info-container {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: 50px;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
}
.footer-item {
  margin-left: 10px;
}
.character-details {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.character-details-info {
  display: flex;
  flex-direction: column;
}
.items {
  margin-left: 60px;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 300px;
}
.item > img {
  margin-right: 20px;
  height: 90px;
  width: 90px;
  border-radius: 10px;
}
.item {
  display: flex;
  flex-direction: column;
}

.item--hidden {
  display: none;
}
