.battle-log-message {
  padding: var(--small-gutter);
  align-self: flex-start;
  
  background-color: var(--color-yellow);
  border-radius: var(--border-radius);
  
  color: var(--color-brown);
}

.battle-log-message--opponent {
  align-self: flex-end;
  background-color: lightcoral;
}

.battle-log-message span {
  color: var(--color-light-yellow)
}